 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

 * {
     font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 .row {
     margin: 0;
 }

 .container {
     padding: 70px 0;
 }

 p,
 li {
     color: #444;
     font-size: 14px;
 }

 /*Barra de Navegação*/
 .header,
 .navbar {
     background-color: gray;
 }

 #nav-container {
     padding-top: 0;
     padding-bottom: 0;
 }

 #logo {
     width: 75px;
 }

 .navbar-brand {
     padding: 0;
     color: white;
 }

 .navbar-brand:hover {
     color: white;
 }

 #navbar-links a {
     color: white;
 }

 .navbar-expand-lg .navbar-nav .navbar-link {
     padding: 1rem .8rem;
 }

 .container-fluid {
     padding: 0;
 }

 #mainSlider .carousel-inner,
 #mainSlider .carousel-item {
     height: 90vh;
 }

 #mainSlider .carousel-caption {
     top: 30%;
 }

 #mainSlider .carousel-caption h2 {
     font-size: 50px;
     margin-bottom: 30px;
 }

 #mainSlider .carousel-caption p {
     font-size: 22px;
     font-weight: 300;
     margin-bottom: 100px;
     color: #fff;
 }

 .main-btn {
     background-color: #65d6f9;
     color: white;
     text-transform: uppercase;
     width: 200px;
     height: 60px;
     padding: 10px 20px;
     border-radius: 30px;
     border: 3px solid transparent;
     transition: .3s;
     text-decoration: none;
 }
 .main-btn:hover{
    color: white;
    background-color: transparent;
    border-color: #65d6f9;
 }
 .carousel-indicators .active{
    background-color: #65d6f9;
 }